<div class="container_views">
    <h1 class="no_user_register">USUARIO NO REGISTRADO</h1>
    <P>Acceda al siguiente
        <a href="/api/views/form-local">enlace</a>
        para el registro.
    </P>
</div>