<div>
    <h3>Bienvenido</h3>
    <h1>Inicia sesión</h1>
    <form action="/api/sessions/login" method="post">
        <label for="">Email</label>
        <input type="email" name="email">
        <label for="">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Enviar">
    </form>
</div>