<div>
    <h1>JWT Register</h1>
    <form action="/api/sessions/jwtegister" method="post">
        <label for="">FirstName</label>
        <input type="text" name="firstName">

        <label for="">LastName</label>
        <input type="text" name="lastName">

        <label for="">Email</label>
        <input type="email" name="email">

        <label for="">Age</label>
        <input type="number" name="age">

        <label for="">Password</label>
        <input type="password" name="password">

        <label for="">Cart</label>
        <input type="text" name="cart">

        <label for="">Role</label>
        <input type="text" name="role">

        <input type="submit" value="Enviar">
    </form>
</div>