<div class="chat-card">
  <div class="chat-header">
    Chat de :  <p id="userName" class="chat-user"></p>
  </div>
  <div id="chatMessages" class="chat-window">
    <ul id="chat" class="message-list"></ul>
  </div>
  <form id="formulario" class="chat-input">
    <input
      type="text"
	    id="mensaje"
      class="message-input"
      placeholder="Escriba su mensaje aquí"
    />
    <button id="sendMessage" class="send-button">Send</button>
    <button id="cleanChat" class="clean-button">Delete chat</button>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>