body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: darkgrey;
	
}

.prod {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 250px;
	height: 350px;
	border-radius: 20px;
	text-align: center;
}

.formContainer {
	width: 20em;
	margin: 0 3em;
}

.form {
	display: flex;
	flex-direction: column;
}

input {
	margin: .5em 0;
	padding: 10px 8px;
	border-radius: 5px;
	font-size: 20px;
}
